name: Build CVs

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build English CV (public, no phone)
        uses: xu-cheng/latex-action@v4
        with:
          pre_compile: printf '\\def\\nophone{}\\input{cv_11}' > cv_11_public.tex
          root_file: cv_11_public.tex
          post_compile: mv cv_11_public.pdf cv_11.pdf

      - name: Build Spanish CV (public, no phone)
        uses: xu-cheng/latex-action@v4
        with:
          pre_compile: printf '\\def\\nophone{}\\input{cv_11-sp}' > cv_11-sp_public.tex
          root_file: cv_11-sp_public.tex
          post_compile: mv cv_11-sp_public.pdf cv_11-sp.pdf

      - name: Commit PDFs
        if: github.event_name != 'pull_request'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'build: update cv pdfs'
          file_pattern: 'cv_11.pdf cv_11-sp.pdf'
